.preview {
    width: 375px;
    height: 667px;
    // height: 767px;
    border: 1px solid #000;
    overflow: hidden;
    .canvas {
        width: 375px;
        height: 667px;
        // height: 767px;
    }
}
.examples {
    padding: 20;
    display: flex;
    flex-wrap: wrap;
}
