.fileList {
    border-bottom: 1px solid #000;
    .item {

    }
}
.ruleList {
    border-bottom: 1px solid #000;
    .item {
    }
}
.typeList {
    .item {

    }

}
//
body {
    // background: #000;
}
.table {
    th,
    td {
        padding: 4px 16px;
        border: 1px solid #000;
    }
}
.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #f1f1f1;
}
